@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-buttons-hover: #FF00BF;
  --color-footer-bg: #333447;
  --color-form-title: #352384;
  --color-form-text: #728099;
  --color-purple-gradient: linear-gradient(#76278F, #2B1E66);
  --color-white: #FFFFFF;
  --color-black: #000000;
}
html{
  font-family: var(--font-montserrat);
}

@media (min-width: 1440px) {
  /* header */
header{
  background: no-repeat center/100% url("../assets/images/hero.gif");
  font-weight: 400;
  background-position: bottom;
  background-size: 100%;
  height: 670px;
  width: 100%;
}
nav{
  background-color: transparent;
  height: 70px;
}
.brand-logo{
  margin-left: 4rem;
}
.logo-white {
  width: 50px;
  vertical-align: middle;
}
nav ul {
  margin: 0 18rem;
}
.btn-login {
  color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  padding: 5px 10px;
}

.introduction {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100vw;
  overflow: auto;
}
.introduction-container {
  background-color: var(--color-white);
  width: 40%;
  padding: 75px 60px 40px 60px;
  height: 500px;
}
.introduction-title {
  color: var(--color-form-title);
  text-transform: uppercase;
  font-weight: 600;
  width: 70%;
  font-size: 35px;
  line-height: .9;
  margin: 0;
}
.introduction-description {
  color: var(--color-form-title);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.introduction-input-phone {
  border-bottom: 1px solid var(--color-form-title) !important;
}
.introduction-input-phone:focus {
  border-bottom: 1px solid var(--color-form-title) !important;
  box-shadow: none !important;
}
.btns-container {
  margin: 20px 0;
}
.btn-driver {
  background-color: var(--color-buttons-hover);
  border-radius: 5px;
  padding: 14px;
  color: var(--color-white);
  margin-right: 15px;
  font-weight: 200;
  font-size: 15px;
}
.btn-ride {
  color: var(--color-form-text);
  text-decoration: underline var(--color-form-text);
  font-weight: 400;
}
.introduction-subtitle {
  color: var(--color-form-text);
  font-size: 8px;
}

.gradient {
  background: linear-gradient(transparent, #76278f);
  height: 100px;
}

.presentation {
  background: var(--color-purple-gradient);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
}
.presentation-container {
  padding-left: 10rem;
  padding-right: 4rem;
}
.presentation-title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 30px;
  line-height: 0.3;
}
.presentation-subtitle {
  color: var(--color-white);
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}
.mr-t {
  margin-top: 100px;
}
.mr-b {
  margin-bottom: 30px;
}

.img-phone {
  height: 70vh;
  padding-right: 10rem;
}

.container-section {
  display: grid;
}
.column-min-max {
  grid-template-columns: 30% 70%;
}
.column-max-min {
  grid-template-columns: 70% 30%;
}
.text-container {
  padding: 2rem 3rem;
}
.subtitle {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0;
}
.title {
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
}
.description {
  font-weight: 500;
  font-size: 15px;
}
}